pkgbase = kongling-mail-bin
	pkgdesc = 本地桌面邮箱管理客户端，支持 IMAP/SMTP/POP3/OAuth2/Exchange
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/PFLcoolme/lingkong-mail
	arch = x86_64
	license = GPL-3.0-or-later
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = libsecret
	depends = libnotify
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux
	depends = libcups
	depends = gcc-libs
	optdepends = libappindicator-gtk3: 系统托盘图标与未读角标
	optdepends = noto-fonts-cjk: 中文界面字体
	provides = kongling-mail
	conflicts = kongling-mail
	options = !strip
	options = !debug
	source = kongling-mail-0.3.0.AppImage::https://github.com/PFLcoolme/lingkong-mail/releases/download/v0.3.0/kongling-mail-0.3.0-x86_64.AppImage
	source = LICENSE::https://raw.githubusercontent.com/PFLcoolme/lingkong-mail/v0.3.0/LICENSE
	sha256sums = 20e5b46f55991d18e8bc76e35ddea1d4425794b016935adfe4a15b2cd7b0e58d
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986

pkgname = kongling-mail-bin
