[Desktop Entry]
Name=Kongling Mail
Name[zh_CN]=空灵邮箱
Comment=Local desktop email client
Comment[zh_CN]=本地桌面邮箱管理客户端
Exec=kongling-mail %U
Icon=com.kongling.mail
Terminal=false
Type=Application
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
Keywords=email;mail;imap;smtp;pop3;
StartupWMClass=空灵邮箱
